/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 24, 2017, 6:37:25 PM
    Author     : liheng
*/

/* the section edit button - yes, it's not the most beautiful CSS you've ever seen */
div.dokuwiki div.editbutton_plugin_bpmnio {
    margin-top: -0.4em; /* depends on the dl margin */
    float: none;
}
div.dokuwiki div.editbutton_plugin_bpmnio form input.button,
div.dokuwiki div.editbutton_plugin_bpmnio form button {
    margin-left: 0.6em;
    padding: 0 0.3em;
    background-image: none;
    border-top: none;
    float: none;

    line-height: 1.8em;
    height: 1.8em;


    border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;

    border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;

    border-bottom-right-radius: 0.5em;
    -moz-border-radius-bottomright: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;

    border-bottom-left-radius: 0.5em;
    -moz-border-radius-bottomleft: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
}